:root.dark-mode {
  --fill-primary: 17, 17, 17;
  --fill-default: 30, 34, 45;
  --fill-dark: 255, 255, 255;
  --fill-hover: 27, 27, 27;
  --text-primary: 235, 235, 235;
  --text-auxiliary: 51, 51, 51;
  --text-hint: 120, 120, 120;
  --text-light: 0, 0, 0;
  --border-primary: 75, 75, 75;
  --border-dark: 235, 235, 235;
  --color-shadow: rgb(255 255 255 / 20%);
}
